{% set navActiveItem = 0 %}
{% set title = "Nunjucks + Gulp!" %}
{% extends "main.njk" %}

{% block content %}
<main class="mainContent mainContent-catalog">
	<h1>Каталог!</h1>
</main>
{% endblock %}
